<div class="panel fade hide in" id="panel-status">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Confirmation</strong></h3>
    </div>
    <div class="panel-body small">
        <div style="position:relative"><em>&nbsp;</em></div>
        <p id="general-status"></p>
    </div>
</div>


