@model  WMS.Web.Models.WorkflowMappingModel

@{

    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="page-header">
        <h4>WELCOME TO WORKFLOW MANAGEMENT SYSTEM</h4>
    </div>
    <p class="small">
        Workflow Management System is a centralized escalation or approval routing system designed to dynamically fit with the current Sales business processes.
    </p>
    <section id="examples">
        <div class="page-header">
            <h4>HOW TO'S:</h4>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <a class="thumbnail" href="http://smartsalesweb/solutions/advisory/video/" target="_blank">
                    <img src="@Url.Content("~/images/setup.jpg")" />
                </a>
                <strong>SET UP NEW WORKFLOW</strong>
                <p class="small">Follow step by step procedure to setup a new workflow.</p>
            </div>
            <div class="col-lg-3">
                <a class="thumbnail" href="http://smartsalesweb/solutions/advisory/video/" target="_blank">
                    <img src="@Url.Content("~/images/manage.jpg")" />
                </a>
                <strong>MANAGE WORKFLOW</strong>
                <p class="small">How to manage existing workflow</p>
            </div>
            <div class="col-lg-3">
                <a class="thumbnail" href="http://smartsalesweb/solutions/advisory/video/" target="_blank">
                    <img src="@Url.Content("~/images/settings.jpg")" />
                </a>
                <strong>MANAGE INITIAL SETUP</strong>
                <p class="small">Manage process, subprocess, classfication, documents and status</p>
            </div>
            <div class="col-lg-3">
                <a class="thumbnail" href="http://smartsalesweb/solutions/advisory/video/" target="_blank">
                    <img src="@Url.Content("~/images/api.jpg")" />
                </a>
                <strong>DEVELOPER API</strong>
                <p class="small">Utilize web api to integrate new system using workflow developer api</p>
            </div>

        </div>
    </section>
</div>


@*<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Panel title</strong></h3>

        </div>
        <div class="panel-body small">
            Now you are ready to start using Xero on a regular basis to record and report on normal business transactions. There is full online help and tips on each screen in Xero if you need it. It's really up to you what you do next.
            <br/>
            Now you are ready to start using Xero on a regular basis to record and report on normal business transactions. There is full online help and tips on each screen in Xero if you need it. It's really up to you what you do next.


        </div>

    </div>*@





@*<ul id="myTab" class="nav nav-tabs">
                  <li class="active"><a href="#home" data-toggle="tab"><strong>Home</strong></a></li>
                  <li class=""><a href="#profile" data-toggle="tab"><strong>Profile</strong></a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade active in" id="home">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </div>
                  <div class="tab-pane fade" id="profile">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                  </div>

                </div>




    <h3>Wizard</h3>
    <div class="wizard">
        <a><span class="badge">1</span><strong>Create new Workflow</strong> </a>
        <a  class="current"><span class="badge">2</span><strong> Add Document mapping</strong></a>
        <a><span class="badge">3</span><strong>Add Heirarchy</strong></a>

    </div>*@


