<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="wms" type="WMS.Configurations.Config" />
  </configSections>




  <wms application="WMS" developer="Valeroso, Jeffrey F.">
    <externalWebService>
      <add systemCode="UDS-ROLE" name="User Directory System test" description="User Directory System test"
        url="http://smartsalesweb:8081/dev-uds/webService/RoleWS.asmx" />
      <add systemCode="UDS-COMMON" name="User Directory System" description="User Directory System" url="http://smartsalesweb:8081/dev-uds/webService/CommonWS.asmx" />
    </externalWebService>
  </wms>
</configuration>