@{
    ViewBag.Title = "Developer Api";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <strong>Available web api</strong>
</div>
<table class="table table-condensed table-hover small">
    <thead>
        <tr>
            <td>Web Api</td>
            <td>Web Api Url</td>
            <td>Paramters</td>
            <td>Description</td>
        </tr>
    </thead>
    <tr>
        <td>GetWorkflowMapping</td>
        <td>http://{server}/api/workflow/GetWorkflowMapping/{workflowcode}/{processcode}/{subprocess}/{classificationcode}</td>
        <td>parameters: workflow code, process code, subprocess code, classification code</td>
        <td>returns a list of all workflow mapping per node. to get the node please provide the workflow code, process code, subprocess code, and classification code, kindly put "na", if parameter is null</td>
    </tr>
    <tr>
        <td>GetWorkflowMappingByLevel</td>
        <td>http://[server]/api/workflow/GetWorkflowMappingByLevel/{workflowcode}/{processcode}/{subprocess}/{classificationcode}/{levelid}</td>
        <td>parameters: workflow code, process code, subprocess code, classification code, level id</td>
        <td>Returns an entity of workflow mapping per node. To get the node please provide the workflow code, process code, subprocess code, and classification code and level id, kindly put "na", if parameter is null</td>
    </tr>
    <tr>
        <td>GetPendingRolesForApproval</td>
        <td>http://[server]/api/workflow/GetPendingRolesForApproval/{workflowcode}/{processcode}/{subprocess}/{classificationcode}/{levelid}/{roles}</td>
        <td>parameters: workflow code, process code, subprocess code, classification code, level id, roles</td>
        <td>Returns a list of string consists of roles to fulfil multiple approval per level. To get the node please provide the workflow code, process code, subprocess code, classification code,level id and roles (note: you may pass comma separated roles if more than one role has already approved the workflow), kindly put "na", if parameter is null</td>
    </tr>
    <tr>
        <td>GetDocumentMapping</td>
        <td>http://[server]/api/workflow/GetDocumentMapping/{workflowcode}/{processcode}/{subprocess}/{classificationcode}</td>
        <td>parameters: workflow code, process code, subprocess code, classification code</td>
        <td>Returns a list of document mapping per node.  To get the node please provide the workflow code, process code, subprocess code, and classification code, kindly put "na", if parameter is null</td>
    </tr>
    <tr>
        <td>GetNotificationMapping</td>
        <td>http://[serverl]/api/workflow/GetNotificationMapping/{workflowcode}/{processcode}/{subprocess}/{classificationcode}</td>
        <td>parameters: workflow code, process code, subprocess code, classification code</td>
        <td>Returns a list of notification mapping per node.  To get the node please provide the workflow code, process code, subprocess code, and classification code, kindly put "na", if parameter is null</td>
    </tr>
    <tr>
        <td>GetNotificationMapping</td>
        <td>http://[serverl]/api/workflow/GetNotificationMappingByStatus/{workflowcode}/{processcode}/{subprocess}/{classificationcode}/{statuscode}</td>
        <td>parameters: workflow code, process code, subprocess code, classification code, and status code</td>
        <td>Returns an entitity of notification mapping per node and status.  To get the node please provide the workflow code, process code, subprocess code, classification code and status code, kindly put "na", if parameter is null</td>
    </tr>
</table>



